---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Books from "../components/Book/Books.jsx";

const allBooks = await getCollection("books");
const pageTitle = "Bookshelf";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>A bookshelf, ya!</h2>
  <Books client:load books={allBooks} />
</BaseLayout>
